* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

header {
  padding: 15px;
  text-align: left;
  font-weight: bolder;
  color: black;
}

.navbar {
  display: flex;
  flex: wrap;
  justify-content: flex-end;
  background-color: #333;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.hero {
  text-align: right;
  font-size: larger;
  font-style: oblique;
  padding: 60px 40px 60px 140px;
}


.title {
  position: relative;
  float: left;
  width: max-content;
  padding: 20px 25px;
  border-right: 3px solid black;
}


.secondary-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  padding: 10px 15px;
}

.secondary-item {
  background-color: #aaa;
  padding: 20px 15px;
  border: 4px solid purple;
  border-radius: 15px;
  width: auto;
  height: fit-content;
  align-content: center;
  text-align: center;
}

.content {
  padding: 40px 15px 0px 15px;
  display: flex;

}

.contacts {
  display: flex;
  flex: wrap;
  justify-content: space-evenly;
  padding: 40px 5px 0px 5px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: small;
  width: 100%;
  padding: 5px 20px;
}


#bio-img {
  height: 200px;
  width: auto;
  padding: 15px;
}

#work-img {
  height: 150px;
  width: auto;
  padding: 15px;
}

@media screen and (max-width: 800px) {
  .navbar {
    flex-direction: column;
  }

  
}