* {
  box-sizing: border-box;
}

/** start body style **/

body {
  font-family: Arial;
  margin: 0;
  background: #5A5B6A;
}

/** end body style **/

/** start header style **/

header {
  background: rgb(9, 4, 94);
  background: linear-gradient(308deg, rgba(9, 4, 94, 1) 0%, rgba(34, 18, 70, 1) 35%, rgba(77, 120, 129, 1) 100%);
  padding: 10px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header h1 {
  font-weight: bold;
  font-size: 40px;
  font-style: italic;
  color: rgb(240, 233, 233);
  padding: 10px;
  margin: 0;
  text-shadow: 0 0 10px #511A1C;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 5px 5px;
}

header nav ul li a {
  padding: 5px 20px;
  font-weight: lighter;
  color: #CAB99D;
  font-size: 20px;
  text-shadow: 0 0 10px #511A1C(0, 0, 0, 0.5);
}

header nav ul li a:hover {
  background: #511A1C;
  color: #CAB99D;
  border-radius: 5px;
  text-shadow: none;
}

/** end header style **/

/** start hero style **/

.hero {
  background-image: url(../imgs/newheroBG.jpg);
  background-size: cover;
  text-align: right;
  color: #FDEEC8;
  font-size: larger;
  font-style: oblique;
  padding: 150px 40px 50px 140px;
}

/** end hero style **/

/** start heading style **/

.title {
  display: grid;
  grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
  align-items: center;
  text-align: center;
  grid-gap: 20px;
  width: 100%;
  color: #511A1C;
}

.title::before, .title::after {
  content: '';
  border-top: 3px solid #751820;
}

/** end heading style **/

/** start main bio and image styles **/

#main-bio p, #main-bio img {
  display: flex;
  color: #CAB99D;
  text-align: center;
}

#main-bio img {
  padding: 10px 15px;
}

#main-bio p {
  padding: 0px 80px 10px 80px;
}

/** adding this to create a span of images across the bottom of my bio **/

.bio-img-container {
  float: left;
  align-content: baseline;
  width: 25%;
  padding: 5px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/** -- internet said to add a clear-fix so I did! **/

/** end main bio and image styles **/

/** start my work style **/

#my-work {
  padding: 5px;
  background: #8789A3;
}

.work-container {
  padding: 10px 80px;
  display: grid;
  grid-template-columns: repeat(3, 10fr);
  grid-template-rows: repeat(3, 10fr);
  gap: 10px;
  grid-auto-flow: dense;
  height: 500px;
}

.work-item {
  display: flex;
  border: #511A1C 4px solid;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 4px;
  text-align: center;
  align-items: center;
  justify-content: left;
}

.work-item:hover {
  box-shadow: 0 10px 20px rgba(241, 239, 239, 0.19), 0 6px 6px rgba(212, 206, 206, 0.23);
}

.work-title {
  font-style: italic;
  font-size: 16px;
  color: #511A1C;
  background-color: #8789A3;
  border-radius: 4px;
  padding: 10px 10px;
  font-weight: bolder;
  opacity: 80%;
}

.item1 {
  grid-area: 1 / 1 / 3 / 3;
}

.item2 {
  grid-area: 1 / 3 / 2 / 4;
}

.item3 {
  grid-area: 2 / 3 / 3 / 4;
}

.item4 {
  grid-area: 3 / 1 / 4 / 2;
}

.item5 {
  grid-area: 3 / 2 / 4 / 4;
}


/** end my work style **/

/** start contacts style **/

.contacts ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 5px 5px;
}

.contacts ul li a {
  color: #511A1C;
  font-weight: bolder;
  font-size: 20px;
  text-shadow: 0 0 10px #CAB99D;
  padding: 15x 10x;
}

.contacts ul li a:hover {
  background: #CAB99D;
  color: #511A1C;
  border-radius: 3px;
  text-shadow: none;
}

/** end contacts style **/

/** start footer style **/

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: small;
  width: 100%;
  padding: 5px 30px;
  background: #464754;
}

footer h3 {
  color: black;
  font-size: 15px;
  margin: 0;
}

footer div {
  line-height: 1.5;
  font-size: 15px;
  color: black;
}

/** end footer style **/

/** start media queries **/

@media screen and (max-width: 800px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }
  header h1 {
    width: 100%;
    text-align: center;
    border-bottom: #751820 3px solid;
  }
  header nav ul {
    width: 100%;
    justify-content: center;
  }
  header nav ul li a {
    font-size: 17px;
  }
  .contacts ul {
    width: 100%;
    justify-content: center;
  }
  .contacts ul li a {
    font-size: 20px;
    padding: 5px 5px;
  }
  footer h3, footer div {
    text-align: center;
    width: 100%;
  }
  .work-container {
    padding: 10px 10px;
  }
  #main-bio p {
    padding: 10px 10px;
  }
}